<div class="container">
    <div class="head-title"><h1>Find the top rated professional</h1></div>
    <div class="filtre-bar">
        <select id="field-select">
            <option value="plumber">Plumber</option>
            <option value="electricien">Electricien</option>
            <option value="roofing">Roofing</option>
            <option value="construction">Construction</option>
            <option value="Woodworking ">Woodworking</option>
        </select>
        <select id="city-select">
            <option value="casablanca">Casablanca</option>
            <option value="rabat">Rabat</option>
            <option value="tanger">Tanger</option>
            <option value="fes">Fes</option>
            <option value="marakech">Marakech</option>
            <option value="essaouira">Essaouira</option>
            <option value="ouajda">Ouajda</option>
            <option value="laayoune">Laayoune</option>
            <option value="dakhla">Dakhla</option>
            <option value="tetouan">Tetouan</option>
            <option value="settat">Settat</option>
            <option value="ourzazate">Ourzazate</option>
            <option value="agadir">Agadir</option>
            <option value="hociama">Hociama</option>
        </select>
    </div>
    <div class="pro-list"></div>
</div>
