.container{
    display: flex;
    align-items: center;
    color: var(--primary-color);
    padding: 1.2rem 0rem;
}

li
{
    display: inline;
}
a{
    text-decoration: none;
    color:inherit;
    font-size: 24px;
    font-weight: 500;
    padding-left:1em;
}
ul{
    margin-left: auto;
    font-size: 16px;
    margin-right: 1.6rem;
}
ul li {
    font-weight: 500;
    margin: 0em 1.1em;
    cursor: pointer;
}
ul li:hover {
    color: var(--highlight-color);
}
.button{
    font-size: 16px;
}
i {
    font-size: 24px;
}

