<div class="page-in-centre">
    <div class="dialog" >
        <form [formGroup]="phoneNumberForm" (ngSubmit)="onSubmit()">
            <div class="form-control">
                <label for="phoneNumber">Phone Number :</label>
                <input type="tel" name="phoneNumber" id="phoneNumber" formControlName="phoneNumber" placeholder="ente your Phone Number">
                    <div *ngIf="phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched)" class="alert alert-danger">
                        <div *ngIf="phoneNumber?.errors?.['required']">
                            PhoneNumber is required.
                        </div>
                        <div *ngIf="phoneNumber?.errors?.['pattern']">
                            PhoneNumber must be like this 0618169890
                        </div>
                    </div>
            </div>
            <h3 *ngIf="errorMessage != ''" class="err-message">{{errorMessage}}</h3>
            <input class="btn-form" type="submit" value="submit" ><br>
        </form>
    </div>
</div>
