
    .profile-info{
        width: 75vw;
        padding-left: 2vw;
        flex-basis: 50%;
        position: relative;
    }
    .profile-info-basic{
        padding-top: 3vh;
        padding-left: 6vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5vw;
    }
    .profile-img{
        border-radius: 50%;
        width:  13vw;
        height: 27vh;
        object-fit: cover;
    }
    .profile-info-plus{
        padding: 14px 10px 10px 0px; 
        display: flex;
        flex-direction: column;
    }
    .profile-info-plus > *{
        margin-bottom: 1.5vh;
    }