<div class="banner">
    <div class="app-description">
        <h1>Find a highly skilled professional who can produce <span class="top-notch">top-notch</span> work. </h1>
        <p>orem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
            molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum</p>
    </div>
    <img class="image1" src="https://images.pexels.com/photos/585419/pexels-photo-585419.jpeg?cs=srgb&dl=pexels-yury-kim-585419.jpg&fm=jpg">
    <img class="image2" src="https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/4Q2EYRR2XMI6TMIL6BNCFZ2YMU.jpg">
    <img class="image3" src="https://www.firstcitizens.com/content/dam/firstcitizens/images/resources/business/skilled-trades/electrician-shortage@2x.jpg.transform/image-scaled-2x-to-1x/image.20220616.jpeg">
    <img class="image4" src="https://img.freepik.com/premium-photo/carpenters-high-experienced-wood-worker-making-furniture-master-woodcraft-male-work-with-wooden-handcraft-piece-with-fine-detail_43300-2559.jpg?w=2000">
</div>  
