<div class="profile">
  <div class="profile-info">
    <button class="update-profile-info" (click)="openUpdateProfileinfo()"><i class="fa fa-pencil-square" aria-hidden="true"></i></button>
    <div class="profile-info-basic">
      <img
        class="profile-img"
        src={{pro?.profile_img}}
      />
      <div class="basic-info">
        <span class="fullname">{{pro?.fullname}}</span><br />
        <span class="expertise">{{pro?.professional?.profession}}</span>
        <div class="rating">
          <app-rating-stars [rating]="pro?.professional?.rating"></app-rating-stars>
        </div>
      </div>
    </div>
    <div class="profile-info-plus">
      <div class="phone-number">{{pro?.phoneNumber.replace('+212','0')}}</div>
      <div class="skils-list">{{pro?.professional?.pro_skills[5].skill}}-{{pro?.professional?.pro_skills[4].skill}}-{{pro?.professional?.pro_skills[3].skill}}-{{pro?.professional?.pro_skills[2].skill}}-{{pro?.professional?.pro_skills[1].skill}}-{{pro?.professional?.pro_skills[0].skill}}</div>
      <div class="description">{{pro?.professional?.description}}</div>
    </div>
  </div>
  <div class="profile-imgs">
    <img src={{pro?.professional?.pro_imgs[0].img}}>
    <img src={{pro?.professional?.pro_imgs[1].img}} (click)="openEditProImgs()">
    <img src={{pro?.professional?.pro_imgs[2].img}}>
    <img src={{pro?.professional?.pro_imgs[3].img}} (click)="openImgSlider()">
  </div>
</div>
