h3 {
    margin: 0 0 10px;
    padding: 0;
    line-height: 1.25;
}
.err-message {
    background-color: #e99999;
    border: red 1px solid;
    border-radius: 4px;
    padding: 5px;
}
.good-message {
    background-color: rgb(137, 223, 137);
    border: green 1px solid;
    border-radius: 4px;
    padding: 5px;
}
span {
    font-size: 90%;
}

.form {
    max-width: 240px;
    margin: 25px auto 0;
}
input:not(.btn-form) {
margin: 0 5px;
text-align: center;
line-height: 80px;
font-size: 50px;
border: solid 1px #ccc;
box-shadow: 0 0 5px #ccc inset;
outline: none;
width: 17%;
transition: all 0.2s ease-in-out;
border-radius: 3px;
}


